<h1>My Spoon</h1>
<div class=card-deck>
  <% if @recipes.present? %>
    <% @recipes.each do |recipe| %>
      <div class="card" style="width: 18rem;">
        <img src="<%= recipe.image[:url] %>" class="card-img-top" alt="<%= recipe.image[:title] %>">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.title %></h5>
          <%= link_to "Show", recipe_path(recipe.id), class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
  <% else %>
    <div> No Recipes Found</div>
  <% end %>
</div>
  