<div class="card">
  <div class="card-horizontal">
    <div class="img-square-wrapper">
      <img width='500rem;' src="<%= @recipe.image[:url] %>" alt="<%= @recipe.image[:title] %>">
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @recipe.title %></h5>
      <p class="card-text"><%= styled_description(@recipe.description) %></p>
      <% if @recipe.tags.present? %>
        <p class="card-text">Tags : 
          <% @recipe.tags.each do |tag| %>
            <span class="badge badge-info"><%= tag %></span>
          <% end %>
        </p>
      <% end %>
      <% if @recipe.chef_name.present? %>
        <p class="card-text">Chef : <b><%= @recipe.chef_name %></b></p>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Back', recipes_path %>