<!DOCTYPE html>
<html>
  <head>
    <title>MySpoon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="pb-5">
      <div class="container">
        <% flash.each do |type, msg| %>
          <div class="alert alert-danger" role="alert">
            <%= msg %>
          </div>
        <% end %>
        
        <%= yield %>
      </div>
    </div>
  </body>
</html>
